.blog-detail-body{
  font-family: 'Benne', serif;
  font-size: 20px;
  background-color:#4C4646;
  color:white;
}
.blogTitle{
  background-color:#CB594D;
}
.related-blog-title{
  color: #CB594D;
  font-size: 20px;
}
.related-blog-title:hover{
  color:white;
}